<div *ngIf="!empty">
  <h1>Favourites</h1>
  <hr>
  <div *ngIf="!emptyHouse">
    <h2>{{house.name}} is your favourite house!</h2>
    <button (click)="removeHouse(house._id)" type="button">Remove as favourite house</button>
    <ul>
      <li>Mascot: {{house.mascot}}</li>
      <!-- Some are misspelled or do not use the full name so not possible to link them -->
      <li>Head of House: {{house.headOfHouse}}</li>
      <!-- Some are misspelled or do not use the full name so not possible to link them -->
      <li>House Ghost: {{house.houseGhost}}</li>
      <!-- Some are misspelled or do not use the full name so not possible to link them -->
      <li>Founder: {{house.founder}}</li>
      <!-- Slytherin does not have a school, API creator probably forgot -->
      <li>School: {{house.school}}</li>
      <li>Colors:
        <ul>
          <li *ngFor="let color of house.colors">{{color}}</li>
        </ul>
      </li>
      <li>Values:
        <ul>
          <li *ngFor="let value of house.values">{{value}}</li>
        </ul>
      </li>
      <li>Members:
        <ul>
          <!-- Some members IDs do not exist so we need to filter them -->
          <div *ngFor="let member of house.members"><li *ngIf="checkHouseCharacters(member._id)"><a href="characters/{{member._id}}">{{houseCharacters[member._id]}}</a></li></div>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="emptyHouse">
    <h2>You do not have a favourite house!</h2>
  </div>
  <hr>
  <div *ngIf="!emptyCharacters">
    <h2>Favourite characters</h2>
    <ul>
      <li *ngFor="let character of characters">
        <a href="characters/{{character._id}}">{{character.name}}</a>
        <button (click)="removeCharacter(character._id)" type="button">Remove from favourites</button>
        <ul>
          <li *ngIf="checkCharacterInfo(character.house)">House: <a [routerLink]="['/houses', characterHouse(character.house)]">{{character.house}}</a></li>
          <li *ngIf="checkCharacterInfo(character.patronus)">Patronus: {{character.patronus}}</li>
          <li *ngIf="checkCharacterInfo(character.species)">Species: {{character.species}}</li>
          <li *ngIf="checkCharacterInfo(character.bloodStatus)">Blood Status: {{character.bloodStatus}}</li>
          <li *ngIf="checkCharacterInfo(character.role)">Role: {{character.role}}</li>
          <li *ngIf="checkCharacterInfo(character.school)">School: {{character.school}}</li>
          <li *ngIf="checkCharacterInfo(character.deathEater)">Death Eater: {{character.deathEater}}</li>
          <li *ngIf="checkCharacterInfo(character.dumbledoresArmy)">Dumbledore's Army: {{character.dumbledoresArmy}}</li>
          <li *ngIf="checkCharacterInfo(character.orderOfThePhoenix)">Order of the Phoenix: {{character.orderOfThePhoenix}}</li>
          <li *ngIf="checkCharacterInfo(character.ministryOfMagic)">Ministry of Magic: {{character.ministryOfMagic}}</li>
          <li *ngIf="checkCharacterInfo(character.alias)">Alias: {{character.alias}}</li>
          <li *ngIf="checkCharacterInfo(character.wand)">Wand: {{character.wand}}</li>
          <li *ngIf="checkCharacterInfo(character.boggart)">Boggart: {{character.boggart}}</li>
          <li *ngIf="checkCharacterInfo(character.animagus)">Animagus: {{character.animagus}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="emptyCharacters">
    <h2>Your favourite character list is empty!</h2>
  </div>
  <hr>
  <div *ngIf="!emptySpells">
    <h2>Favourite spells</h2>
    <ul>
      <li *ngFor="let spell of spells">{{spell.spell}}
        <button (click)="removeSpell(spell._id)" type="button">Remove from favourites</button>
        <ul>
          <li>Type: {{spell.type}}</li>
          <li>Effect: {{spell.effect}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="emptySpells">
    <h2>Your favourite spell list is empty!</h2>
  </div>
</div>
<div *ngIf="empty">
  <h1>You have no favourites :(</h1>
</div>